* {
  box-sizing: border-box;
  outline: none;
}

%flex {
  display: flex;
  align-items: center;
}

$primary-font-color: #232428;
$secondary-font-color: #adadad;
$active-color: #499d77;

$green-dark: #51a380;
$green-light: #e6f1ed;

/*ICONS*/
@mixin playIcon($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23#{$color}' stroke='%23#{$color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpolygon points='5 3 19 12 5 21 5 3'/%3E%3C/svg%3E");
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  color: #344767;
}


a {
  text-decoration: none;  
}
input[type='file'] {
  color: transparent;
}

.left-area {
  transition: all .6s linear;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
  width: 230px;
  padding: 24px;
  // margin: 20px;
  border-radius: 12px;
  background: #fff;
}

.app-header {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
  padding-top: 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  position: relative;

  .inner-text {
    margin-left: 6px;
  }
  hr {
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
  }
}

.profile-wrap {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  padding: 20px 0;
  
  img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 12px;
  }
  
  span {
    display: block;
    line-height: 20px;
  }
  
  .profile-name {
    color: $primary-font-color;
    text-transform: capitalize;
    font-weight: 500;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23bebebe' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E%0A");
    padding-right: 16px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 16px;
  }
}

.item-link {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #344767;
  transition: all .2s ease-in;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 10px;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  &.active {
    background-image: linear-gradient(310deg, #2c68cf, #2152ffad);
    color: #fff;
    border-radius: 10px;
  }
  
  
  .link-icon {
    width: 16px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 4px;
  }
}

.list-header {
  font-size: 12px;
  color: $secondary-font-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  10px 20px;
  margin: 10px 0;
  transition: all .2s ease-in;
  cursor: pointer;
  background-color: lighten($secondary-font-color,30%);
  
  svg { transition: all .2s ease-in; }
  
  span {
    display: block;
    font-weight: 500;
  }
  
  &:hover svg {
    transition: all .2s ease-in; 
    fill: $secondary-font-color;
    line { stroke: #fff; }
  }
}

.btn-invite {
  background-color: $active-color;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  display: block;
  margin-top: auto;
  
  &:hover {
    background-color: darken($active-color,4%);
  }
}

.left-area-content {
  flex: 1;
  overflow: auto;
}

.right-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-area-upper {
  width: 100%;
  // border-bottom: 1px solid #ddd;
  display: flex;
  max-height: 40px;
  padding: 20px;
  margin-top: 10px;
  
  .menu-button {
    display: block;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s ease-in;
  }
  
  @media screen and (max-width: 520px) {
    & { padding: 0 10px; }
  }
}

.search-input {
  flex: 1;
  width: 100%;
  // padding: 10px 10px 10px 24px;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
}

.search-part-wrapper {
  position: relative;
  padding: 14px 20px;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex: 1;
  
  a {
    color: #344767;
    font-size: 14px;
    font-weight: 500;
    
    + a { margin-left: 10px; }
  }
}

.more-menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
  padding: 10px 0;
  transform-origin: center;
  
  &.hide { display: none; }
  
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 2px;
    top: -6px;
    right: 32px;
    box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.4);
  }
  
  li {
    padding: 8px 20px;
    list-style-type: none;
    cursor: pointer;
    
    &:hover {
      background-color: lighten(#e6f1ed,4%);
    }
  }
}

.btn-notification {
  position: relative;
  display: block;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
  
  span {
    position: absolute;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 2px;
    width: 14px;
    height: 14px;
    right: 18px;
    top: 18px;
    font-size: 10px;
  }
}

.action-buttons {
  border-radius: 2px;
  padding: 10px 24px 10px 40px;
  font-size: 12px;
  color: $green-dark;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center left 16px;
  max-height: 36px;
}

.btn-record {
  color: $green-dark;
  background-color: $green-light;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%2351a380' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-video'%3E%3Cpath d='M23 7l-7 5 7 5V7z'/%3E%3Crect x='1' y='5' width='15' height='14' rx='2' ry='2'/%3E%3C/svg%3E ");
  margin-right: 20px;
  
  &:hover {
    background-color: darken($green-light,6%);
  }
}

.btn-upload {
  color: $green-light;
  background-color: $green-dark;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-upload-cloud'%3E%3Cpath d='M16 16l-4-4-4 4M12 12v9'/%3E%3Cpath d='M20.39 18.39A5 5 0 0018 9h-1.26A8 8 0 103 16.3'/%3E%3Cpath d='M16 16l-4-4-4 4'/%3E%3C/svg%3E ");
  
  &:hover {
    background-color: lighten($green-dark,6%);
  }
}

.action-buttons-wrapper {
  padding: 0 20px;
  align-items: center;
  display: flex;
}

.page-right-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .menu-links {
    display: none;
  }
  
  .more-button {
    display: block;
  }
  
  .action-buttons-wrapper {
    display: none;
  }
}

//table card
.doc-card {
  margin: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    color: #344767;
    background-color: #fff;
    border-radius: inherit;
    border-bottom: 0 solid rgba(0,0,0,.125);
  }

  &__body {
    flex: 1 1 auto;
    font-size: 16px;
    padding: 0 8px;
    overflow: auto;
  }
}
.doc-table {
  align-items: center;
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
  overflow: auto;
  color: #67748e;
  vertical-align: top;
  border-color: #e9ecef;
  text-align: left;
  text-transform: capitalize;

  thead {
    vertical-align: bottom;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  th {
    white-space: nowrap;
    border-bottom-color: #e9ecef;
    vertical-align: middle;
    padding: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #6d7a8f;
    font-weight: 700;
    font-size: 11px;
    opacity: .7;
    border-bottom: 1px solid #e9ecef;
  }
  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    vertical-align: middle;
  }
  tr {
    border-bottom: 1px solid #e9ecef;
  }

  td {
    white-space: nowrap;
    padding: 8px;
    color: #344767;
    padding: 0.75rem;
  }
}

.view-button {
  background-image: linear-gradient(310deg,#2152ff,#21d4fd);
  padding: 0.45em 0.9em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
  cursor: pointer;
}
.view-button1 {
  background-image: linear-gradient(310deg,#17ad37,#98ec2d);;
  padding: 0.45em 0.9em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
  cursor: pointer;
}
.view-button2 {
  background-image: linear-gradient(310deg,#f53939,#fbcf33);
  padding: 0.45em 0.9em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
  cursor: pointer;
}

.doc-button {
  // background-image: linear-gradient(310deg,#141727,#3a416f);
  background-image: linear-gradient(310deg, #2c68cf, #2152ffad);
  padding: 0.65em 1.2em;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
  border: none;
  cursor: pointer;
}
.doc-button-cancel {
  background-image: linear-gradient(310deg,#ea0606,#ff667c) !important;
}

/* popup */

.nj-overly {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 200ms;
  display: none
}
.nj-overly:target {
  visibility: visible;
  opacity: 1;
  z-index: 3
}

.doc-popup {
  margin: 75px auto;
  width: auto;
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  &__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.my-popup {
  max-width: 360px;
  background: #fff;
}
@keyframes rebound {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


.doc-popup-form {
  max-width: 360px;
  margin: auto;
  width: 100%;

  &__inner {
    background: #fff;
    // box-shadow: 3px 13px 30px 0px rgba(21, 34, 67, 0.2);
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 24px;

    .doc-popup-title {
      font-size: 20px;
      // text-align: center;
      font-weight: 500;
      color: #1a3b5d;
      padding-bottom: 16px;
    }
  }

  &__button {
    width: 100%;
    height: 55px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
}

.doc-popup-form {
  margin-bottom: 20px;
  &-input-wrap {
    margin-bottom: 16px;
  }
  &__label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5de3;
    width: 100%;
    display: block;
    user-select: none;
  }
  &__input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5de3;

    &:hover,
    &:focus {
      border-color: #3d9cff;
    }

    &:focus {
      box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    }
    &.-select {
      -webkit-appearance: none;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAeCAYAAABuUU38AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUxJREFUeNrM1sEJwkAQBdCsngXPHsQO9O5FS7AAMVYgdqAd2IGCDWgFnryLFQiCZ8EGnJUNimiyM/tnk4HNEAg/8y6ZmMRVqz9eUJvRaSbvutCZ347bXVJy/ZnvTmdJ862Me+hAbZCTs6GHpyUi1tTSvPnqTpoWZPUa7W7ncT3vK4h4zVejy8QzM3WhVUO8ykI6jOxoGA4ig3BLHcNFSCGqGAkig2yqgpEiMsjSfY9LxYQg7L6r0X6wS29YJiYQYecemY+wHrXD1+bklGhpAhBDeu/JfIVGxaAQ9sb8CI+CQSJ+QmJg0Ii/EE2MBiIXooHRQhRCkBhNhBcEhLkwf05ZCG8ICCOpk0MULmvDSY2M8UawIRExLIQIEgHDRoghihgRIgiigBEjgiFATBACAgFgghEwSAAGgoBCBBgYAg5hYKAIFYgHBo6w9RRgAFfy160QuV8NAAAAAElFTkSuQmCC');
      background-size: 12px;
      background-position: 90% center;
      background-repeat: no-repeat;
      padding-right: 30px;
    }
  }
}
/* end of popup */

/* radio button style*/
.radiobutton__container {
  display: inline-block;
  position: relative;
  padding-top: 0.2rem;
  padding-left: 2.5rem;
  margin: 0.7rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radiobutton__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radiobutton__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: var(--gray200);
  border-radius: 50%;
}

.radiobutton__container:hover input ~ .radiobutton__checkmark {
  background-color: var(--gray300);
}

.radiobutton__container input:checked ~ .radiobutton__checkmark {
  background-color: var(--green-bright);
}

.radiobutton__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 9px;
  left: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

.radiobutton__container input:checked ~ .radiobutton__checkmark::after {
  display: block;
}

/*Typing Loader*/
.typing_loader{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
     -moz-animation: Typing 1s linear infinite alternate;
          animation: typing 1s linear infinite alternate;
  margin: 5px auto; /* Not necessary- its only for layouting*/  
  position: relative;
  left: -12px;
}
@-webkit-keyframes typing{
  0%{
      background-color: rgba(255,255,255, 1);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                  24px 0px 0px 0px rgba(255,255,255,0.2);
    }
  25%{ 
      background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
                  24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  75%{ background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                  24px 0px 0px 0px rgba(255,255,255,1);
    }
}

@-moz-keyframes typing{
 0%{
      background-color: rgba(255,255,255, 1);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                  24px 0px 0px 0px rgba(255,255,255,0.2);
    }
  25%{ 
      background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
                  24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  75%{ background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                  24px 0px 0px 0px rgba(255,255,255,1);
    }
}

@keyframes typing{
 0%{
      background-color: rgba(255,255,255, 1);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                  24px 0px 0px 0px rgba(255,255,255,0.2);
    }
  25%{ 
      background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,2), 
                  24px 0px 0px 0px rgba(255,255,255,0.2);
  }
  75%{ background-color: rgba(255,255,255, 0.4);
      box-shadow: 12px 0px 0px 0px rgba(255,255,255,0.2), 
                  24px 0px 0px 0px rgba(255,255,255,1);
    }
}